<html>
    <head>
        <meta charset="utf-8">
        <title>BIBICH's blog</title>
    </head>
        <body>
            <div>
                <h1><a href="/"> Django Girls Blog</a>
            </div>
            <div>
                <p>published 25.06.2020, 20:16</p>
                <h2> <a href="">My first post</a></h2>
                <p>Muerto</p>
            </div>
            <div>
                <p> published 06.06.2020, 21:16</p>
                <h2><a href="">My second post</a></h2>
                <p> Dirty deeds done dirt cheap</p>
            </div>
        </body>
</html>